NODE_ENV=development
PORT=3003

MONGODB_URL=mongodb://root:password@mongodb:27017/location_db
REDIS_GEO_URL=redis://redis-geo:6379
KAFKA_BROKERS=kafka:29092

LOG_LEVEL=debug

# Maps API
OLA_MAPS_API_KEY=your_ola_maps_api_key
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Geolocation
NEARBY_RADIUS_METERS=200
MAX_LOCATIONS_HISTORY=100